{% extends "base.html.twig" %}
{% block title %}Service | Patient{% endblock %}
{% block body %}
<div class="container mt-4">
 <h1>{% if editMode %}Modifier un Patient{% else %}  Ajouter un nouveau patient{% endif %} </h1>
 </div>
 <div class="col-12">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success"> {{message}} </div> 
    {% endfor %}
        {% for message in app.flashes('danger') %}
    <div class="alert alert-danger"> {{message}} </div> 
    {% endfor %}
 </div>
 
<section id="page-sx">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-box">
                      {{form_start(formPatient,{'method':'POST'})}} 
                      <br>
                            <fieldset >
                                <legend >Informations personnelles</legend>
                                <div class="form-row align-items-end">
                                    
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formPatient.num_unique_rdz, {'label':'Numéro  rendez-vous','attr':{'placeholder':"Numéro  rendez-vous"}})}}
                            
                                    </div>
                                   
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.genre, {'label':'Genre','attr':{'placeholder':"Genre"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formPatient.nom_patient, {'label':'Nom','attr': {'placeholder':"Nom "}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.prenom_patient, {'label':'Prénom','attr':{'placeholder':"Prénom"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formPatient.date_naissance, {'label':'Date de naissance','attr': {'placeholder':"Date de naissance"}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.mutuelle, {'label':'Mutuelle','attr':{'placeholder':"Mutuelle"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formPatient.date_rdz, {'label':'Date rendez-vous','attr': {'placeholder':"Date rendez-vous"}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.telephone, {'label':'Téléphone','attr':{'placeholder':"Téléphone"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formPatient.ville, {'label':'Ville','attr': {'placeholder':"Ville"}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.quartier, {'label':'Quartier','attr':{'placeholder':"Quartier"}})}}
                            
                                    </div>
                                </div>
                                 <div class="form-row align-items-end">
                                
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formPatient.medecin, {'label':'medecin','attr':{'placeholder':"Medecin"}})}}
                            
                                    </div>
                                </div>
                                
                            <fieldset >
                              
                            <div class="">
                                <button type="submit" class="btn btn-primary col-5">{% if editMode %}Modification {% else %}Ajouter  {% endif %}</button>
                            </div>
                        {{form_end(formPatient)}} 
{% endblock %}