{% extends "base.html.twig" %}
{% block title %}Service | Listes des patients{% endblock %}
{% block body %}
<div class="container mt-4">
<h1>Il y a <em>"{{patients | length }}"</em> patients enregistré<h1>
</div>
    <table class="table container table table-bordered">



        <thead class="thead-light">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">N°rdv</th>
                <th scope="col">Genre</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Naissance</th>
                <th scope="col">Mutuelle</th>
                <th scope="col">Date rdv</th>
                 <th scope="col">Téléphone</th>
                <th scope="col">Ville</th>
                <th scope="col">Quartier</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <th scope="row">{{patient.id}}</th>
                <td>{{patient.getNumUniqueRdz()}}</td>
                <td>{{patient.getGenre()}}</td>
                <td>{{patient.getNomPatient()}}</td>
                <td>{{patient.getPrenomPatient()}}</td>
                <td>{{patient.getDateNaissance()| date('d/m/Y')}}</td>
                <td>{{patient.getMutuelle()}}</td>
                <td>{{patient.getDateRdz()|date('d/m/Y')}}</td>
                <td>{{patient.getTelephone()}}</td>
                <td>{{patient.getVille()}}</td>
                <td>{{patient.getQuartier()}}</td>
                <td>
                    <a href="{{path('update_ActionPatient',{'id': patient.id})}}">Modifier</a>
                    <a href="{{path('patient_show',{'id':patient.id})}}">Voir</a>
                    <a href="{{path('patient_delete',{'id':patient.id})}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
            
        
        </tbody>
    </table>

{% endblock %}