{% extends "base.html.twig" %}
{% block title %}Service | Medecin{% endblock %}
{% block body %}
 <h1>Bienvenu,{% if editMode %}Ajouter un Medecin{% else %} Modifier un Medecin{% endif %} </h1>
 <div class="col-12">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success"> {{message}} </div> 
    {% endfor %}
        {% for message in app.flashes('danger') %}
    <div class="alert alert-danger"> {{message}} </div> 
    {% endfor %}
 </div>
<section id="page-sx">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-box">
                      {{form_start(formMedecin,{'method':'POST'})}} 
                            <fieldset >
                                <legend >Informations personnelles</legend>
                               <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formMedecin.nom_med, {'label':'Nom','attr': {'placeholder':"nom "}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formMedecin.prenom_med, {'label':'Prénom','attr':{'placeholder':"prenom"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formMedecin.specialite, {'label':'specialite','attr': {'placeholder':"specialite "}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formMedecin.localisation, {'label':'localisation','attr':{'placeholder':"localisation"}})}}
                            
                                    </div>
                                </div>
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-5">
                                        
                                    {{form_row(formMedecin.visualiser, {'label':'visualiser','attr': {'placeholder':"visualiser"}})}}
                            
                                    </div>
                                    <div class="form-group col-md-6">
                                        
                                    {{form_row(formMedecin.patients, {'label':'patients','attr':{'placeholder':"patients"}})}}
                            
                                    </div>
                                </div>
                            <fieldset >
                              
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">{% if editMode %}Ajouter{% else %} Modification {% endif %}</button>
                            </div>
                        {{form_end(formMedecin)}} 
{% endblock %}