{% extends "base.html.twig" %}
{% block title %}Service | Liste des medecins{% endblock %}
{% block body %}
<div class="container mt-4">
<h1>Il y a <em>"{{medecins | length }}"</em> medecins enregistré<h1>
</div>
    <table class="table container table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Specialité</th>
                <th scope="col">Localisation</th>        
                <th scope="col">Utilisateur</th>
                <th scope="col">patients</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <th scope="row">{{medecin.id}}</th>
                <td>{{medecin.getNomMed()}}</td>
                <td>{{medecin.getPrenomMed()}}</td>
                <td>{{medecin.getSpecialite()}}</td>
                <td>{{medecin.getLocalisation()}}</td>
                <td>
                <a href="{{path('user_show',{'id':medecin.user.id})}}"> 
                {{medecin.getUser()}}
                <a/>
                    
                </td>
                <td>
                {% if medecin.patients | length ==0 %}
                    <i>Aucun </i>
                {% else %}
                        {% if medecin.patients | length ==1 %}
                            {{medecin.patients | length}} Consulté
                            {% for row in medecin.patients %}
                                <i>{{row}}</i>
                                {% endfor %}
                            {% else %}
                                {{medecin.patients | length}} Consultés
                                    {% for row in medecin.patients %}
                                        <i>{{row}}</i>
                                    {% endfor %}
                        {% endif %}
                {% endif %} 
                </td>
                <td>
                    <a href="{{path('update_ActionMedecin',{'id': medecin.id})}}" class="btn btn-primary">Modifier</a>
                    <a href="{{path('medecin_show',{'id':medecin.id})}}" class="btn btn-info">Voir</a>
                    <a href="{{path('medecin_delete',{'id':medecin.id})}}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}                
        </tbody>
    </table>

{% endblock %}