{% extends 'projets/base_user.html.twig' %}

{% block title %}Espace medecin{% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{asset('project/accordeon.css')}}"/>
{% endblock %}

{% block body %}

    <div class="container p-2 my-3 mt-4">
    {% if app.user %} 
      <h1>Bienvenu !&nbsp;{{ app.user.username }}</h1> 
    {% endif %} 
    </div>


  {% if app.user %} 
    <div class="container mt-4">
     <h4>Consulter vos prochains rendez-vous</h4>
        <br>
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'London')">Rendez-vous à venir</button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">Historique de rendez-vous</button> 
        </div>

    <div id="London" class="tabcontent">
      <h5>Rendez-vous à venir</h5>
      <p><smallclass="fa fa-user-md">Le  07 - 04 - 2020</small>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">N°ID</th>
              <th scope="col">Genre</th>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Naissance</th>
              <th scope="col">date rendez-vous</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Ville</th>
              <th scope="col">Quartier</th>
              <th scope="col">Mutuelle</th>
            </tr>
          </thead>
          <tbody>
          {% if infos is empty %}
           <tr> <td><i> Aucun patient enregistré</td> </i> </tr>
          {% else %}
             {% for info in infos %}
            <tr>
              <th scope="row">{{info.id}}</th>
              <td>{{info.getGenre}}</td>
              <td>{{info.getNomPatient()}}</td>
              <td>{{info.getPrenomPatient()}}</td>
              <td>{{info.getDateNaissance() | date("m/d/Y")}} </td>
              <td>{{info.getDateRdz() | date("m/d/Y")}}</td>
              <td>{{info.getTelephone()}}</td>         
              <td>{{info.getVille()}}</td>
              <td>{{info.getQuartier()}}</td>
              <td>{% if info.getMutuelle() %}Oui {% else %}Nom{% endif %}</td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
        <br><br>
      </p>
    </div>

    <div id="Paris" class="tabcontent">
      <h5>Historique de rendez-vous</h5>
      <p>
        <small>
          {% if infos is  empty %}
            <tr> <td><i> Aucun patient n'a pris de rendez-vous</td> </i> </tr>
            {% else %}
              {{infos | length}} patient(s)
            {% endif %}
        </small>
      </p> 
    </div>

    <div id="Tokyo" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
  {% endif %} 
  
        {% block javascripts %}
          <script src="{{asset('project/accordeon.js')}}"></script>
        {% endblock %}

{% endblock %}
  
 


